html {
    background: url(https://maps.googleapis.com/maps/api/staticmap?center=Denver,CO&zoom=6&size=500x250&scale=2&maptype=roadmap&format=jpg&key=AIzaSyDPap0KQhzUiqFtvPD4u1uArwgL5kKT5rs) no-repeat center center fixed;
    background-size: cover;
}

body {
    background: transparent;
}

.panel {
    background: rgba(255,255,255,.9);
    text-align: center;
}

.progress {
    display: none;
}

h1, h3 {
    color: black;
}

.zmPlus, .zmMinus {
    cursor: pointer;
}

.top-buffer { margin-top:10px; }

div.dropdown>a {
    text-decoration: none;
    color: #333;
}